@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-profile{
    width: 330px;
    height: 350px;
    background-color: white;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    font-family: 'Kumbh Sans';
}

.card-info{
    height: 70%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.card-name{
    font-size: 1.5rem;
    font-weight: 700;
}

.card-city{
    font-size: 1rem;
}

span{
    color: var(--text-color);
}

hr{
    width: 100%;
    border: #6A6F8150 solid 1px;
}

.card-social {
    height: 30%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


.card-social p{
    font-weight: 700;
}

.card-social span {
    font-size: 0.9rem;
}